<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384- Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>Node-MySQL-OOP</title>
</head>
<!-- nav menu(exemplo para adaptação ao sistema)-->
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-blue bg-dark">
        <a class="navbar-brand" href="/">Main App</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
<<<<<<< HEAD
                <a class="nav-link" href="/insert">Insertion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/edit">Edit</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
=======
                <a class="nav-link" href="/">Insertion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Edit</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">About</a>
>>>>>>> master
            </li>
        </ul>
    </nav>
    <!--card Padrao-->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">CRUD Node - MySql</h1>
            <h3>Object Mapping</h3>
            <div class="form-group">
                <!--fim car padrao-->